img {
  width: 40%;
  height: 40%;
  float: right;
  margin-left: 10%;
  margin-bottom: 10%;
}
nav {
  min-width: 200px;
  word-spacing: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}

body {
  background-color: #ffd877;
}

a {
  text-decoration: none;
  color: #9B2335;
}
