<html><body>
  <div class="content">
    <div class="container-fluid">
      <h1>Impacts</h1>

      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="card">
            <div class="header">
              <h3>Overview</h3>
            </div>
            <div class="content">Discuss where data analysis and machine learning fits into the world at large.</div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card">
            <div class="header">
              <h3>Objectives</h3>
            </div>
            <div class="content">
              <ul>
                <li>Analyze the effects of machine learning to other fields</li>
                <li>Understand the vulnerabilities and biases of machine learning models</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="header">
              <h3>Videos</h3>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/tARveF7Ugew" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/LLAQkTHtOFg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="header">
              <h3>Student Activity</h3>
            </div>
            <div class="content">
              Discuss:
              <ol>
                <li>What happens when computers reflect their creator's viewpoints?</li>
                <li>Think of a career: how can data analysis and machine learning impact that career?</li>

              </ol>
		   <h3> Resources </h3>
    		<ul>
    		  <li> <a href="https://www.ted.com/talks/joy_buolamwini_how_i_m_fighting_bias_in_algorithms" target="_blank"> ML bias example </a> </li>
    		  <li> <a href="https://github.com/fchollet/keras-resources" target="_blank"> Keras Resources </a> </li>
    		  <li> <a href="https://www.npr.org/2017/12/19/569474169/being-different-helped-a-nasa-roboticist-achieve-her-dream" target="_blank"> Being Different Helped a NASA Roboticit Achieve her Dream </a> </li>
    		</ul>
              </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</body></html>
