<html><body>
  <div class="content">
    <div class="container-fluid">
      <h1>Introduction</h1>

      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="card">
            <div class="header">
              <h3>Overview</h3>
            </div>
            <div class="content">This section provokes discussion on how machines perceive and learn.</div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card">
            <div class="header">
              <h3>Objectives</h3>
            </div>
            <div class="content">
              <ul>
                <li>Explore what it means for a machine to learn</li>
                <li>Discuss how computers behave intelligently</li>
                <li>Motivate the exploration of the topic</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="header">
              <h3>Videos</h3>
            </div>
            <iframe width="560" height="315" src="https://youtube.com/embed/JVRUbBO-ht4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/WZDKIdu87VM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="header">
              <h3>Student Activity</h3>
            </div>
            <div class="content">
              <ol>
              <li>Discuss with peers:
              <ul>
                <li>What makes humans smart?</li>
                <li>What makes computers smart?</li>
                <li>How do humans and computers perceive differently?</li>
              </ul>
            </li> <br></br>
              <li>Complete prerequisites:
              <ul>
                <li><a href="https://code.tutsplus.com/series/a-smooth-refresher-to-python--cms-950" target="_blank">Python refresher</a></li>
                <li><a href="https://lab.github.com/githubtraining/introduction-to-github" target="_blank">GitHub introduction</a></li>
                <li><a href="https://coderuse.com/2017/10/A-Short-Refresher-On-Git/" target="_blank">GitHub refresher</a></li>
		            <li><a href="https://www.youtube.com/watch?v=R9OHn5ZF4Uo" target="_blank"> How machines learn </a> </li>
              </ul>
              </li>
              </ol>
              </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</body></html>
